

*{
  margin:0;
  padding:0;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 0px;
}
 
/* ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
  background:rgb(100,0,0);
  -webkit-box-shadow: inset 0 0 6px rgba(100,0,0,0.5); 
} */

body{
  background:linear-gradient(10deg, grey,black 60%);
  height:100vh;
}
.container{
  
  width:375px;
  height:400px;
  position:relative;
  left: 0px;
    right:0px;
    top: 13px;
    background: rgb(17, 14, 14);

  margin-top:2em;
}
/*
  NAV
*/
nav{
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:3.5em;
  background:rgb(0,0,0);
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  color:rgb(250,250,250);
}
.fa-bars{
  margin-left:1em;
  
}
.fa-search{
  position: absolute;
  width: 18px;
  height: 18px;
  left: 330px;
  top: 30px;
  color: #C4C4C4;
  
  background: #1a1a1a;;
  }
  hr { 
    border: 10px solid rgb(115, 161, 55);
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    border-width: 1px;
    padding: 0px;
    
  }
  .left{
    display: block;
    margin-left: 0.5em;
    margin-right: auto;
    margin-top:18px;
    width: 20%;
  }
  .test{
    text-align:left;
    margin-bottom: 10px;
    font-family: Circular Std;
    font-size: 18px;
    color: #FFFFFF;
  
  
  }
  
#main{
  margin-top:4em;
}
h4{
  color:rgb(255,255,255);
}
.single-item img{
  height: 200px;
}
.single-item{
  position:0;

height: 200px;
left: 1px;
right:0px;
top: 0px;

background: url(wp4025671.jpg);
border-radius: 3px;
}
.slick-dots li button:before{
  color:white;
  opacity:1;
  text-shadow:1px 2px 1px black;
}
.slick-dots li.slick-active button:before{
  color:white;
  opacity:1;
}
ul.slick-dots{
  transform:translateY(-35px);
}
.variable-width  img{
  height:190px;
/*   padding-right:5px; */
}
.active-pink-2 input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #f48fb1;
box-shadow: 0 1px 0 0 #f48fb1;
}
.btn {position: relative;
width: 100px;
height: 30px;
left: 1px;  
top: 10px;

background: rgba(219, 116, 185, 0.19);

}
.btn-dark:hover {
  color: #222;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-color: #0c0d0e;
    border-radius: 3px;
    color: rgb(241, 235, 235);
}

body {
	background: #f8eff4;
	font:14px "Open Sans", sans-serif; 
	text-align:center;
}

.slick-dots{
    bottom: -68px;
}

.slick-dots li.slick-active button:before {
   
    color:  #C1272D;
}


.slick-dots li button:before {   
    border:none;
    text-shadow: none;
    color:#C4C4C4;
    font-size: 8px;
  }

.tile{
	
	border-radius:4px;
	
	float:left;
  	transform-style: preserve-3d;
  	margin: 15px 5px;

}

.header{
	text-align:left;
	color:#59687f;	
	font-size:19px;	
	position:relative;
}

.banner-img {
	padding: 8px 8px 0;
}

.banner-img img {
	width: 100%;
  height:25%;
 border-radius: 5px;
}

.stats div:nth-of-type(3){border:none;}

/*div.footer {
	text-align: left;
	position: absolute;
	margin: 20px 5px;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: rgb(247, 181, 232);
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
  
}

div.footer a.Cbtn-primary{
	background-color: rgb(247, 133, 228);
	color: rgb(3, 2, 2);
}*/


.boxed {
  position: absolute;
width: 360px;
height: 60px;
left: 0px;
top: 0px;

background: #C1272D;
} 
.rectangle{
  position: absolute;
width: 340px;
height: 341px;
left: 11px;
top: 344px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
border-radius: 3px;
}
.form-control{
  position: absolute;
width: 300px;
height: 40px;
left: 10px;
right: 1px;
top: 10px;
text-indent:10% ;
background: #FFFFFF;
border-radius: 2px;
}


